<h1>Login</h1>

<%= form_tag('/session', method: 'post') do %>
    <labe for="login">Login</labe>
    <%= text_field_tag :login, params[:login]%>
    <labe for="password">Password</labe>
    <%= text_field_tag :password, params[:password]%>

    <%= submit_tag "Login" %>
<% end %>