%h1
  Recent Posts

- @posts.each do |post|
  #post
    %div
      %h2
        = link_to post.title, post
    %span
      = link_to 'Edit', edit_post_path(post)
    %span
      = link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'}
    %br

    %span
      = link_to 'New Post', new_post_path

